1 pack marketing AI assist agent sales bots/marketing_ppc/n8n_templates/whatsapp_DIRECT_GROUP_SENDER.json
{
    "name": "WhatsApp: DIRECT GROUP Bomber (Fast & Safe with 1h Limit)",
    "nodes": [
        {
            "parameters": {},
            "id": "1",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "img",
                            "name": "image_url",
                            "value": "ВСТАВИ_ССЫЛКУ_ИЗ_ТГ_ХЕЛПЕРА",
                            "type": "string"
                        },
                        {
                            "id": "cap",
                            "name": "caption",
                            "value": "Поздравляю всех с Международным женским днем!",
                            "type": "string"
                        },
                        {
                            "id": "inst",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        },
                        {
                            "id": "api",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "2",
            "name": "Campaign Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/findChats/{{ encodeURIComponent($json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.api_key }}"
                        }
                    ]
                }
            },
            "id": "3",
            "name": "Fetch API Groups",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                400,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Фильтруем ТОЛЬКО группы (@g.us)\nconst items = $input.all();\nreturn items\n  .filter(item => {\n    const c = item.json;\n    const jid = c.remoteJid || c.jid || c.id;\n    return jid && jid.endsWith('@g.us');\n  })\n  .map(item => {\n    const c = item.json;\n    return {\n      json: {\n        jid: c.remoteJid || c.jid || c.id,\n        name: c.pushName || c.name || \"Group\"\n      }\n    };\n  });"
            },
            "id": "4",
            "name": "Filter Groups Only",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "5",
            "name": "Safe Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                800,
                200
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": "whatsapp_chats_db",
                "filters": {
                    "conditions": [
                        {
                            "columnName": "jid",
                            "operator": "equal",
                            "value": "={{ $json.jid }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "10",
            "name": "Check DB Presence",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "time_check",
                            "leftValue": "={{ $json.last_sent_at }}",
                            "rightValue": "={{ $now.minus({ hours: 1 }).toISO() }}",
                            "operator": "before",
                            "type": "string"
                        },
                        {
                            "id": "empty_check",
                            "leftValue": "={{ $json.jid }}",
                            "operator": "isEmpty",
                            "type": "string"
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "11",
            "name": "Is Safe to Send?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/sendPresence/{{ encodeURIComponent($node[\"Campaign Config\"].json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Campaign Config\"].json.api_key }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $node[\"Safe Loop\"].json.jid }}"
                        },
                        {
                            "name": "presence",
                            "value": "composing"
                        },
                        {
                            "name": "delay",
                            "value": "2000"
                        }
                    ]
                }
            },
            "id": "6",
            "name": "Simulate Typing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1450,
                100
            ]
        },
        {
            "parameters": {
                "amount": "={{ Math.floor(Math.random() * (5 - 2 + 1) + 2) }}",
                "unit": "seconds"
            },
            "id": "7",
            "name": "Typing Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1650,
                100
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/message/sendMedia/{{ encodeURIComponent($node[\"Campaign Config\"].json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Campaign Config\"].json.api_key }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $node[\"Safe Loop\"].json.jid }}"
                        },
                        {
                            "name": "media",
                            "value": "={{ $node[\"Campaign Config\"].json.image_url }}"
                        },
                        {
                            "name": "mediatype",
                            "value": "image"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $node[\"Campaign Config\"].json.caption }}"
                        },
                        {
                            "name": "delay",
                            "value": "1000"
                        }
                    ]
                }
            },
            "id": "8",
            "name": "SEND TO GROUP",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1850,
                100
            ]
        },
        {
            "parameters": {
                "operation": "upsert",
                "dataTableId": "whatsapp_chats_db",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": [
                        {
                            "columnName": "jid",
                            "field": "={{ $node[\"Safe Loop\"].json.jid }}"
                        },
                        {
                            "columnName": "last_sent_at",
                            "field": "={{ $now.toISO() }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "12",
            "name": "Log Sent Time",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                2050,
                100
            ]
        },
        {
            "parameters": {
                "amount": "={{ Math.floor(Math.random() * (12 - 6 + 1) + 6) }}",
                "unit": "seconds"
            },
            "id": "9",
            "name": "Safety Interval",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2250,
                100
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Campaign Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Campaign Config": {
            "main": [
                [
                    {
                        "node": "Fetch API Groups",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch API Groups": {
            "main": [
                [
                    {
                        "node": "Filter Groups Only",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Groups Only": {
            "main": [
                [
                    {
                        "node": "Safe Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Loop": {
            "main": [
                [
                    {
                        "node": "Check DB Presence",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check DB Presence": {
            "main": [
                [
                    {
                        "node": "Is Safe to Send?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Safe to Send?": {
            "main": [
                [
                    {
                        "node": "Simulate Typing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Safe Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Simulate Typing": {
            "main": [
                [
                    {
                        "node": "Typing Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Typing Wait": {
            "main": [
                [
                    {
                        "node": "SEND TO GROUP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SEND TO GROUP": {
            "main": [
                [
                    {
                        "node": "Log Sent Time",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Sent Time": {
            "main": [
                [
                    {
                        "node": "Safety Interval",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safety Interval": {
            "main": [
                [
                    {
                        "node": "Safe Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}