1 pack marketing AI assist agent sales bots/marketing_ppc/n8n_templates/whatsapp_contacts_to_google_sheets.json
{
    "name": "WhatsApp Contacts: Export to Google Sheets (v2)",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/findContacts/{{ $node[\"Config\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": []
                },
                "options": {}
            },
            "id": "1",
            "name": "Fetch All Contacts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "c1d2e3f4-0123-4b5c-8d9e-f0a1b2c3d4e5",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        },
                        {
                            "id": "b1a2c3d4-e5f6-4a5b-b6c7-d8e9f0a1b2c3",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2",
            "name": "Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Маппинг данных контактов для таблицы\nconst contacts = $input.all();\nreturn contacts.map(item => ({\n  json: {\n    phone: item.json.remoteJid.split('@')[0],\n    jid: item.json.remoteJid,\n    name: item.json.pushName || 'No Name',\n    is_group: item.json.isGroup || false,\n    profile_pic: item.json.profilePicUrl || ''\n  }\n}));"
            },
            "id": "3",
            "name": "Map Contact Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "ВСТАВИ_ID_ТАБЛИЦЫ_ИЗ_URL",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Лист1",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "auto",
                    "value": {}
                },
                "options": {}
            },
            "id": "4",
            "name": "Google Sheets: Sync Contacts",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                950,
                300
            ]
        }
    ],
    "connections": {
        "Config": {
            "main": [
                [
                    {
                        "node": "Fetch All Contacts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch All Contacts": {
            "main": [
                [
                    {
                        "node": "Map Contact Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Contact Data": {
            "main": [
                [
                    {
                        "node": "Google Sheets: Sync Contacts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}