1 pack marketing AI assist agent sales bots/marketing_ppc/n8n_templates/whatsapp_ultra_smart_bridge_v2.json
{
    "name": "Telegram to WhatsApp: Ultra Smart Post Builder (v2 Connected)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "1",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a-key",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        },
                        {
                            "id": "inst",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        },
                        {
                            "id": "grp",
                            "name": "target_group_id",
                            "value": "ВСТАВИ_ID_ГРУППЫ",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "14",
            "name": "Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Анализируем ВСЕ типы медиа\nconst msg = $json.message;\nlet type = 'text';\nlet file_id = null;\n\nif (msg.photo) {\n  type = 'photo';\n  file_id = msg.photo.reverse()[0].file_id;\n} else if (msg.video) {\n  type = 'video';\n  file_id = msg.video.file_id;\n} else if (msg.audio || msg.voice) {\n  type = 'audio';\n  file_id = msg.audio ? msg.audio.file_id : msg.voice.file_id;\n} else if (msg.document) {\n  type = 'document';\n  file_id = msg.document.file_id;\n}\n\nreturn {\n  user_id: msg.from.id,\n  text: msg.text || msg.caption || '',\n  type: type,\n  file_id: file_id,\n  timestamp: new Date().getTime()\n};"
            },
            "id": "2",
            "name": "Pre-Process",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "aggregate": "aggregateIndividualFields",
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "text"
                        },
                        {
                            "fieldToAggregate": "file_id"
                        },
                        {
                            "fieldToAggregate": "type"
                        }
                    ]
                },
                "options": {
                    "groupingFields": "user_id",
                    "maxWaitTime": 10
                }
            },
            "id": "4",
            "name": "Aggregate (Wait 10s)",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Формируем итоговый пост\nconst aggregated = $json;\nconst texts = aggregated.text.filter(t => t !== '').join('\\n');\nconst photos = [];\nconst videos = [];\nconst audios = [];\n\nfor (let i = 0; i < aggregated.type.length; i++) {\n  if (aggregated.type[i] === 'photo') photos.push(aggregated.file_id[i]);\n  if (aggregated.type[i] === 'video') videos.push(aggregated.file_id[i]);\n  if (aggregated.type[i] === 'audio') audios.push(aggregated.file_id[i]);\n}\n\nreturn {\n  final_text: texts,\n  photo_id: photos.length > 0 ? photos[0] : null,\n  video_id: videos.length > 0 ? videos[0] : null,\n  audio_id: audios.length > 0 ? audios[0] : null,\n  has_media: photos.length > 0 || videos.length > 0 || audios.length > 0\n};"
            },
            "id": "5",
            "name": "Assemble Post",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-photo",
                            "leftHandSide": "={{ $json.photo_id ? 'yes' : 'no' }}",
                            "operator": "equal",
                            "rightHandSide": "yes"
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "6",
            "name": "Check Photo",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1000,
                100
            ]
        },
        {
            "parameters": {
                "operation": "getFile",
                "fileId": "={{ $json.photo_id }}"
            },
            "id": "7",
            "name": "Get TG Photo",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1200,
                50
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/message/sendMedia/{{ $node[\"Config\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $node[\"Config\"].json[\"target_group_id\"] }}"
                        },
                        {
                            "name": "mediatype",
                            "value": "image"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $node[\"Assemble Post\"].json[\"final_text\"] }}"
                        }
                    ]
                },
                "sendBodyData": "binaryData",
                "bodyParametersBinary": [
                    {
                        "parameterName": "media",
                        "inputDataFieldName": "data"
                    }
                ]
            },
            "id": "8",
            "name": "WA: Send Photo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1400,
                50
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "has-video",
                            "leftHandSide": "={{ $json.video_id ? 'yes' : 'no' }}",
                            "operator": "equal",
                            "rightHandSide": "yes"
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "9",
            "name": "Check Video",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ]
        },
        {
            "parameters": {
                "operation": "getFile",
                "fileId": "={{ $json.video_id }}"
            },
            "id": "10",
            "name": "Get TG Video",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1200,
                250
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/message/sendMedia/{{ $node[\"Config\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "multipart-form-data",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $node[\"Config\"].json[\"target_group_id\"] }}"
                        },
                        {
                            "name": "mediatype",
                            "value": "video"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $node[\"Assemble Post\"].json[\"final_text\"] }}"
                        }
                    ]
                },
                "sendBodyData": "binaryData",
                "bodyParametersBinary": [
                    {
                        "parameterName": "media",
                        "inputDataFieldName": "data"
                    }
                ]
            },
            "id": "11",
            "name": "WA: Send Video",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1400,
                250
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "text-only",
                            "leftHandSide": "={{ $json.photo_id || $json.video_id || $json.audio_id ? 'no' : 'yes' }}",
                            "operator": "equal",
                            "rightHandSide": "yes"
                        }
                    ],
                    "combinator": "or"
                },
                "options": {}
            },
            "id": "12",
            "name": "Text Only?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1000,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/message/sendText/{{ $node[\"Config\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $node[\"Config\"].json[\"target_group_id\"] }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.final_text }}"
                        }
                    ]
                }
            },
            "id": "13",
            "name": "WA: Send Just Text",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1200,
                500
            ]
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Config": {
            "main": [
                [
                    {
                        "node": "Pre-Process",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pre-Process": {
            "main": [
                [
                    {
                        "node": "Aggregate (Wait 10s)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate (Wait 10s)": {
            "main": [
                [
                    {
                        "node": "Assemble Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assemble Post": {
            "main": [
                [
                    {
                        "node": "Check Photo",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check Video",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Text Only?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Photo": {
            "main": [
                [
                    {
                        "node": "Get TG Photo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get TG Photo": {
            "main": [
                [
                    {
                        "node": "WA: Send Photo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Video": {
            "main": [
                [
                    {
                        "node": "Get TG Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get TG Video": {
            "main": [
                [
                    {
                        "node": "WA: Send Video",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Text Only?": {
            "main": [
                [
                    {
                        "node": "WA: Send Just Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}