1 pack marketing AI assist agent sales bots/marketing_ppc/n8n_templates/whatsapp_broadcast_pipeline.json
{
    "name": "WhatsApp: Broadcast Pipeline",
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "jids",
                            "name": "jid_list",
                            "value": "1203631234567@g.us, 1203637890123@g.us",
                            "type": "string"
                        },
                        {
                            "id": "img",
                            "name": "image_url",
                            "value": "ВСТАВЬ_ССЫЛКУ_НА_ФОТО",
                            "type": "string"
                        },
                        {
                            "id": "cap",
                            "name": "caption",
                            "value": "Текст твоей рассылки",
                            "type": "string"
                        },
                        {
                            "id": "inst",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        },
                        {
                            "id": "api",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "1",
            "name": "Mailing List Input",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Подготовка очереди из списка\nconst config = $json;\nconst jids = config.jid_list.split(',').map(j => j.trim()).filter(j => j.length > 5);\n\nreturn jids.map(jid => ({\n  jid: jid,\n  image_url: config.image_url,\n  caption: config.caption,\n  instance: config.instance,\n  api_key: config.api_key\n}));"
            },
            "id": "2",
            "name": "Split into Loop",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                0
            ]
        },
        {
            "parameters": {
                "amount": 4,
                "unit": "seconds"
            },
            "id": "3",
            "name": "Mailing Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                500,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/message/sendMedia/{{ encodeURIComponent($json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.api_key }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.jid }}"
                        },
                        {
                            "name": "media",
                            "value": "={{ $json.image_url }}"
                        },
                        {
                            "name": "mediatype",
                            "value": "image"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $json.caption }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "4",
            "name": "Execute Send",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                750,
                0
            ]
        }
    ],
    "connections": {
        "Mailing List Input": {
            "main": [
                [
                    {
                        "node": "Split into Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split into Loop": {
            "main": [
                [
                    {
                        "node": "Mailing Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mailing Wait": {
            "main": [
                [
                    {
                        "node": "Execute Send",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}