1 pack marketing AI assist agent sales bots/marketing_ppc/n8n_templates/whatsapp_sales_evolution.json
{
  "name": "WhatsApp Sales AI Assistant (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "merchant_id",
              "name": "MERCHANT_ID",
              "value": "56618",
              "type": "string"
            },
            {
              "id": "service_id",
              "name": "SERVICE_ID",
              "value": "95804",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "systemMessage": "\u0422\u044b \u043f\u0440\u043e\u0434\u0430\u0432\u0435\u0446. \u0417\u0430\u0434\u0430\u0447\u0430: \u0443\u0431\u0435\u0434\u0438\u0442\u044c \u043a\u043b\u0438\u0435\u043d\u0442\u0430 \u043e\u043f\u043b\u0430\u0442\u0438\u0442\u044c \u0443\u0441\u043b\u0443\u0433\u0443. \u0415\u0441\u043b\u0438 \u0433\u043e\u0442\u043e\u0432 \u043e\u043f\u043b\u0430\u0442\u0438\u0442\u044c, \u0434\u0430\u0439 \u0441\u0441\u044b\u043b\u043a\u0443 \u043d\u0430 \u043e\u043f\u043b\u0430\u0442\u0443."
        }
      },
      "id": "openai-agent",
      "name": "AI Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://151.241.100.226:8081/message/sendText/salesbot_v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "02F56A66-ED87-41F0-9AA0-9DB88E3C94A6"
            }
          ]
        },
        "options": {},
        "specifyBody": "json",
        "jsonBody": "{\n  \"number\": \"{{ $node[\"Evolution API Webhook\"].json[\"body\"][\"data\"][\"remoteJid\"] }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": \"{{ $json[\"output\"] }}\"\n  }\n}"
      },
      "id": "send-whatsapp",
      "name": "Send via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        0
      ]
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sales Agent": {
      "main": [
        [
          {
            "node": "Send via Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}