2 content factory audio/SUNO/Скачать Песню Suno (1).json
{
  "name": "Скачать Песню Suno",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Chat_ID"
            },
            {
              "name": "Caption"
            },
            {
              "name": "Title"
            },
            {
              "name": "taskId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        0
      ],
      "id": "6747b601-f110-41be-90d8-2d50c0f367e4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('SET').item.json.Chat_ID }}",
        "file": "={{ $json.audioUrl }}",
        "additionalFields": {
          "caption": "={{ $('SET').item.json.Caption }}",
          "parse_mode": "HTML",
          "title": "={{ $('SET').item.json.Title }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        -160
      ],
      "id": "9a5c76b1-21ed-47e6-9840-1dd58641bbd4",
      "name": "Send an audio file",
      "webhookId": "07ce45cd-92a4-484d-b823-2f7138435980",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba93f320-4e97-41a3-b0d6-059e71289628",
              "name": "Chat_ID",
              "value": "={{ $('When Executed by Another Workflow').item.json.Chat_ID }}",
              "type": "string"
            },
            {
              "id": "fde7bf59-56ce-422a-9415-0491457f3759",
              "name": "Caption",
              "value": "={{ $('When Executed by Another Workflow').item.json.Caption }}",
              "type": "string"
            },
            {
              "id": "d08438bc-7f52-40d6-98eb-b7a39b96802b",
              "name": "Title",
              "value": "={{ $('When Executed by Another Workflow').item.json.Title }}",
              "type": "string"
            },
            {
              "id": "d2b2e81d-0861-478a-b85c-efc88fc928e0",
              "name": "taskId",
              "value": "={{ $('When Executed by Another Workflow').item.json.taskId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        0
      ],
      "id": "34c5468c-ad24-457e-b6f6-80d6743e0d21",
      "name": "SET"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.result.audio.file_id }}",
        "additionalFields": {
          "mimeType": "={{ $json.result.audio.mime_type }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        -160
      ],
      "id": "d84d37c3-380a-4a56-9b60-0e698b32bdd7",
      "name": "Get a file",
      "webhookId": "83060b83-05cf-4413-abd3-7f999c0d24f3",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileBinary = $input.item.binary.data;\n// Получаем Title из ноды SET независимо от входящих данных\nconst title = $('SET').first().json.Title || \"AI-агент\";\n\nreturn [\n  {\n    json: $input.item.json,\n    binary: {\n      data: {\n        ...fileBinary,\n        fileName: title + \".mp3\",\n        mimeType: \"audio/mpeg\",\n        fileExtension: \"mp3\"\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -160
      ],
      "id": "69e5770c-24f6-437d-9c16-802711d4f755",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('SET').item.json.Chat_ID }}",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "additionalFields": {
          "caption": "={{ $('SET').item.json.Caption }}_1",
          "parse_mode": "HTML",
          "title": "={{ $('SET').item.json.Title }}_1"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2768,
        -160
      ],
      "id": "3f084834-6735-4f75-9f10-a447a1e080eb",
      "name": "Send an audio file1",
      "webhookId": "0d86aa34-e8cc-4a55-8cfd-311d328e1ed7",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a0af38613ae41fbcad4a5efb279b45c3"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        0
      ],
      "id": "a97783c4-4bbc-47c8-8b50-2877dddf7de8",
      "name": "Get Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e4837cf-42fd-42c7-bcc2-9cb74d718702",
              "leftValue": "={{ $json.data.response.sunoData[1].sourceAudioUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "37b194b0-5cd3-4db6-acca-459c1f86b6b3",
              "leftValue": "={{ $json.data.response.sunoData[0].sourceAudioUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        0
      ],
      "id": "b19e3a7a-4930-4d26-9870-35a5b81b5bc6",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        272
      ],
      "id": "0c4510b9-431f-41b4-913b-81e95addb220",
      "name": "Wait",
      "webhookId": "154006a4-eef6-4753-9d12-07560a896289"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5022a1e9-4a10-4047-8d19-6cdc0ddd4c93",
              "name": "audioUrl",
              "value": "={{ $json.data.response.sunoData[0].sourceAudioUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -160
      ],
      "id": "fb51ea9f-0a35-43b7-8069-363109e177d0",
      "name": "Set"
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('SET').item.json.Chat_ID }}",
        "messageId": "={{ $('Send an audio file').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3008,
        -160
      ],
      "id": "9999fa3e-1fdc-4d21-8adf-13b43e930a0a",
      "name": "Delete a chat message",
      "webhookId": "645adc82-d4e1-4011-b1ee-04212ce932a0",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73c2156a-f78b-4a67-bf4b-dd938af52328",
              "name": "audioUrl1",
              "value": "={{ $json.data.response.sunoData[1].sourceAudioUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        16
      ],
      "id": "f7d44232-d89f-4233-845a-c3c130986937",
      "name": "Set1"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('SET').item.json.Chat_ID }}",
        "file": "={{ $json.audioUrl1 }}",
        "additionalFields": {
          "caption": "={{ $('SET').item.json.Caption }}",
          "parse_mode": "HTML",
          "title": "={{ $('SET').item.json.Title }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1472,
        128
      ],
      "id": "fd62f68c-b17b-44ae-88d6-bda2968d3cb3",
      "name": "Send an audio file2",
      "webhookId": "483c4937-8da7-4dcb-8292-da54172d490f",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.result.audio.file_id }}",
        "additionalFields": {
          "mimeType": "={{ $json.result.audio.mime_type }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        128
      ],
      "id": "3ccc11f4-3b44-443b-a4d2-9d555cf8ba6e",
      "name": "Get a file1",
      "webhookId": "569a8fbc-2413-411e-8099-1b7866e0d48e",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileBinary = $input.item.binary.data;\n// Получаем Title из ноды SET независимо от входящих данных\nconst title = $('SET').first().json.Title || \"AI-агент\";\n\nreturn [\n  {\n    json: $input.item.json,\n    binary: {\n      data: {\n        ...fileBinary,\n        fileName: title + \".mp3\",\n        mimeType: \"audio/mpeg\",\n        fileExtension: \"mp3\"\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        128
      ],
      "id": "534273ff-fe05-4108-8393-5ddab5b81e86",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('SET').item.json.Chat_ID }}",
        "binaryData": true,
        "binaryPropertyName": "=data",
        "additionalFields": {
          "caption": "={{ $('SET').item.json.Caption }}_2",
          "parse_mode": "HTML",
          "title": "={{ $('SET').item.json.Title }}_2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2768,
        128
      ],
      "id": "03a4ddf0-fd73-48fc-a9dc-578f68efc872",
      "name": "Send an audio file3",
      "webhookId": "a13a5de0-11a0-4142-b5ec-ec79687bc724",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('SET').item.json.Chat_ID }}",
        "messageId": "={{ $('Send an audio file2').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3008,
        128
      ],
      "id": "448bc091-1ef3-45bc-bba9-d260b51cbaa7",
      "name": "Delete a chat message1",
      "webhookId": "793e308c-d28a-4eb7-b459-48c853ebc683",
      "credentials": {
        "telegramApi": {
          "id": "QuOHcstJkj97cUJ5",
          "name": "SKYNET"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3312,
        -16
      ],
      "id": "c58981d1-069e-4c2c-9ad9-951196effda0",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c99e458f-a919-4383-8c30-b7b2a633f14e",
              "name": "output",
              "value": "=✅ Ваши треки успешно загружены и отправлены! \n\nТвои ссылки на файлы:\n1.) {{ $('Get Request').item.json.data.response.sunoData[0].sourceAudioUrl }}\n2.) {{ $('Get Request').item.json.data.response.sunoData[1].sourceAudioUrl }}\n\n(Системное сообщение: Нужно зашить ссылки в \"Title\" в название трека для формата Телеграмм)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3552,
        -16
      ],
      "id": "b4876262-609e-4cf0-b3c8-a24ff88804e4",
      "name": "Finish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e0903406-ce98-4aee-b62f-a1b70d47b062",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        272
      ],
      "id": "e29146c3-8094-48f6-91ef-a5044ab0583d",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "063fa4a6-863b-4add-a8a0-ac7b6b3711e3",
              "name": "output",
              "value": "=Данный трек не был отправлен на генерацию или не существет, повторите попытку создания: Taskid {{ $('SET').item.json.taskId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        320
      ],
      "id": "0e44de9b-3464-4c5b-9053-a774214fb1e8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "Замените свой API : \nПример \nBearer a0af38613ae41fbcad4a5efb279b45c3"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -144
      ],
      "typeVersion": 1,
      "id": "a312e5de-d7df-493b-831e-1a3e912160f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Во всех нодах телеграмма замените свой Credential\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -304
      ],
      "typeVersion": 1,
      "id": "6db764a0-c55d-4ee3-bcbc-7c60786ee08b",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "SET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET": {
      "main": [
        [
          {
            "node": "Get Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an audio file": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an audio file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an audio file1": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an audio file2": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send an audio file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an audio file3": {
      "main": [
        [
          {
            "node": "Delete a chat message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Send an audio file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Finish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a1b37f8-62d2-4c12-8c22-1958d1890aea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d60511a353b4c6baf50dd6fdfc05d5bbf00e24720013258735fa465addb7f3a"
  },
  "id": "PxUwF5WOj84yDGwk",
  "tags": [
    {
      "updatedAt": "2025-06-22T09:34:32.793Z",
      "createdAt": "2025-06-22T09:34:32.793Z",
      "id": "nB4nob5ZdP285zVU",
      "name": "Думбрао"
    }
  ]
}