1 pack marketing AI assist agent sales bots/n8n_templates/whatsapp_SEQUENTIAL_sync.json
{
    "name": "WhatsApp: SEQUENTIAL Chat Sync (Timer -> DB -> API -> Loop)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "id": "1",
            "name": "Hourly Timer",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "inst",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        },
                        {
                            "id": "api",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2",
            "name": "Sync Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": "whatsapp_chats_db",
                "returnAll": true
            },
            "id": "3",
            "name": "Step 1: Get DB State",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                400,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/findChats/{{ encodeURIComponent($node[\"Sync Config\"].json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Sync Config\"].json.api_key }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "4",
            "name": "Step 2: Fetch API All",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                200
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "5",
            "name": "Step 3: Loop API Chats",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                800,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Проверка: есть ли текущий JID в списке из БД\nconst currentJid = $json.id || $json.remoteJid || $json.jid;\nconst dbItems = $items(\"Step 1: Get DB State\");\nconst dbJids = dbItems.map(i => i.json.jid || i.json.chat_id);\n\nconst isNew = !dbJids.includes(currentJid);\n\nreturn {\n  jid: currentJid,\n  name: $json.pushName || $json.name || \"Unknown\",\n  type: (currentJid || \"\").endsWith('@g.us') ? 'Group' : 'Private',\n  is_new: isNew\n};"
            },
            "id": "6",
            "name": "Step 4: Verify New",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "type": "string"
                    },
                    "conditions": [
                        {
                            "id": "new-check",
                            "leftValue": "={{ $json.is_new }}",
                            "rightValue": "",
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "7",
            "name": "If New?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1200,
                150
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "dataTableId": "whatsapp_chats_db",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": [
                        {
                            "columnName": "jid",
                            "field": "jid"
                        },
                        {
                            "columnName": "name",
                            "field": "name"
                        },
                        {
                            "columnName": "type",
                            "field": "type"
                        }
                    ]
                }
            },
            "id": "8",
            "name": "Step 5: Add to DB",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                1400,
                100
            ]
        },
        {
            "parameters": {
                "amount": 1,
                "unit": "seconds"
            },
            "id": "9",
            "name": "Batch Linker",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1600,
                250
            ]
        }
    ],
    "connections": {
        "Hourly Timer": {
            "main": [
                [
                    {
                        "node": "Sync Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sync Config": {
            "main": [
                [
                    {
                        "node": "Step 1: Get DB State",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Step 1: Get DB State": {
            "main": [
                [
                    {
                        "node": "Step 2: Fetch API All",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Step 2: Fetch API All": {
            "main": [
                [
                    {
                        "node": "Step 3: Loop API Chats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Step 3: Loop API Chats": {
            "main": [
                [
                    {
                        "node": "Step 4: Verify New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Step 4: Verify New": {
            "main": [
                [
                    {
                        "node": "If New?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If New?": {
            "main": [
                [
                    {
                        "node": "Step 5: Add to DB",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Batch Linker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Step 5: Add to DB": {
            "main": [
                [
                    {
                        "node": "Batch Linker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch Linker": {
            "main": [
                [
                    {
                        "node": "Step 3: Loop API Chats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}