1 pack marketing AI assist agent sales bots/n8n_templates/whatsapp_premium_export.json
{
    "name": "WhatsApp Premium Data: Advanced Chat Segmentation",
    "nodes": [
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/findChats/{{ $node[\"Config\"].json[\"instance\"] }}?getParticipants=true",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": []
                },
                "options": {}
            },
            "id": "1",
            "name": "Fetch All Chats (Advanced)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1b2c3d4",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        },
                        {
                            "id": "e5f6g7h8",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2",
            "name": "Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Анализ и сегментация чатов\nconst items = $input.all();\nreturn items.map(item => {\n  const jid = item.json.remoteJid || '';\n  let type = 'Private';\n  if (jid.endsWith('@g.us')) type = 'Group';\n  else if (jid.endsWith('@newsletter')) type = 'Channel';\n  else if (jid.endsWith('@broadcast')) type = 'Broadcast List';\n  \n  return {\n    json: {\n      name: item.json.pushName || item.json.name || jid.split('@')[0],\n      jid: jid,\n      type: type,\n      participants_count: item.json.participants ? item.json.participants.length : 0,\n      last_message_date: item.json.updatedAt,\n      last_text: item.json.lastMessage?.message?.conversation || 'None',\n      gender: '' // Заполняется вручную в таблице\n    }\n  };\n});"
            },
            "id": "3",
            "name": "Advanced Classifier",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "ВСТАВИ_ID_ТАБЛИЦЫ",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Лист1",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "auto",
                    "value": {}
                },
                "options": {}
            },
            "id": "4",
            "name": "Google Sheets: Sync Segments",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                950,
                300
            ]
        }
    ],
    "connections": {
        "Config": {
            "main": [
                [
                    {
                        "node": "Fetch All Chats (Advanced)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch All Chats (Advanced)": {
            "main": [
                [
                    {
                        "node": "Advanced Classifier",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Advanced Classifier": {
            "main": [
                [
                    {
                        "node": "Google Sheets: Sync Segments",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}