1 pack marketing AI assist agent sales bots/n8n_templates/whatsapp_SEQUENTIAL_sync.json
{
    "name": "WhatsApp: SIMPLE SEQUENTIAL Sync (API -> Loop -> DB Check)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours"
                        }
                    ]
                }
            },
            "id": "1",
            "name": "Timer Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                -200,
                200
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "inst",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        },
                        {
                            "id": "api",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2",
            "name": "Sync Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                50,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/findChats/{{ encodeURIComponent($json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.api_key }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "3",
            "name": "Fetch API All",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                300,
                200
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "4",
            "name": "Split into Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                550,
                200
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": "whatsapp_chats_db",
                "filters": {
                    "conditions": [
                        {
                            "columnName": "jid",
                            "operator": "equal",
                            "value": "={{ $json.id || $json.remoteJid || $json.jid }}"
                        }
                    ]
                },
                "returnAll": false,
                "options": {
                    "ignoreNoData": true
                }
            },
            "id": "5",
            "name": "Check in DB (Search JID)",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                800,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "type": "string"
                    },
                    "conditions": [
                        {
                            "id": "found-check",
                            "leftValue": "={{ $json.jid }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "6",
            "name": "Is it NEW?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1050,
                200
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "dataTableId": "whatsapp_chats_db",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": [
                        {
                            "columnName": "jid",
                            "field": "={{ $node[\"Split into Loop\"].json.id || $node[\"Split into Loop\"].json.remoteJid || $node[\"Split into Loop\"].json.jid }}"
                        },
                        {
                            "columnName": "name",
                            "field": "={{ $node[\"Split into Loop\"].json.pushName || $node[\"Split into Loop\"].json.name || \"Unknown\" }}"
                        },
                        {
                            "columnName": "type",
                            "field": "={{ ($node[\"Split into Loop\"].json.id || \"\").endsWith('@g.us') ? 'Group' : 'Private' }}"
                        }
                    ]
                }
            },
            "id": "7",
            "name": "Insert NEW Chat",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                1300,
                100
            ]
        },
        {
            "parameters": {
                "amount": 1,
                "unit": "seconds"
            },
            "id": "8",
            "name": "Batch Finisher",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1550,
                250
            ]
        }
    ],
    "connections": {
        "Timer Trigger": {
            "main": [
                [
                    {
                        "node": "Sync Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sync Config": {
            "main": [
                [
                    {
                        "node": "Fetch API All",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch API All": {
            "main": [
                [
                    {
                        "node": "Split into Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split into Loop": {
            "main": [
                [
                    {
                        "node": "Check in DB (Search JID)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check in DB (Search JID)": {
            "main": [
                [
                    {
                        "node": "Is it NEW?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is it NEW?": {
            "main": [
                [
                    {
                        "node": "Insert NEW Chat",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Batch Finisher",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert NEW Chat": {
            "main": [
                [
                    {
                        "node": "Batch Finisher",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch Finisher": {
            "main": [
                [
                    {
                        "node": "Split into Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}