1 pack marketing AI assist agent sales bots/n8n_templates/whatsapp_data_export.json
{
    "name": "WhatsApp Data: Export Chats & History (v2 Corrected)",
    "nodes": [
        {
            "parameters": {
                "url": "=https://evolutionapi.aiconicvibe.store/chat/findChats/{{ $node[\"Config\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "1",
            "name": "Fetch All Chats",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1b2c3d4-e5f6-4a5b-b6c7-d8e9f0a1b2c3",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        },
                        {
                            "id": "f0e9d8c7-b6a5-4f3e-a2d1-c0b9a8f7e6d5",
                            "name": "instance",
                            "value": "ВСТАВЬ_ИМЯ_ИНСТАНСА",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2",
            "name": "Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Фильтруем и подготавливаем данные для таблицы\nconst chats = $input.all()[0].json.filter ? $input.all()[0].json : $input.all();\nreturn chats.map(item => ({\n  json: {\n    id: item.json.id || item.json.remoteJid,\n    name: item.json.name || item.json.pushName || 'Unknown',\n    type: (item.json.id || item.json.remoteJid || '').endsWith('@g.us') ? 'Group' : 'Private',\n    last_message: item.json.message?.conversation || 'None'\n  }\n}));"
            },
            "id": "3",
            "name": "Format Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                300
            ]
        }
    ],
    "connections": {
        "Config": {
            "main": [
                [
                    {
                        "node": "Fetch All Chats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch All Chats": {
            "main": [
                [
                    {
                        "node": "Format Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}