1 pack marketing AI assist agent sales bots/n8n_templates/whatsapp_8march_targeted.json
{
    "name": "WhatsApp: Targeted 8 March Broadcast (From Sheets)",
    "nodes": [
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "ВСТАВИ_ID_ТАБЛИЦЫ",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Лист1",
                    "mode": "name"
                },
                "filters": {
                    "conditions": [
                        {
                            "id": "gender-check",
                            "leftHandSide": "gender",
                            "operator": "equal",
                            "rightHandSide": "F"
                        }
                    ]
                },
                "options": {}
            },
            "id": "1",
            "name": "Get Female Contacts",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "2",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "amount": "={{ Math.floor(Math.random() * 20) + 30 }}",
                "unit": "seconds"
            },
            "id": "3",
            "name": "Safe Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/message/sendText/{{ $node[\"Config\"].json[\"instance\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $node[\"Config\"].json[\"api_key\"] }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json[\"jid\"] }}"
                        },
                        {
                            "name": "text",
                            "value": "=С праздником весны, {{ $json[\"name\"] }}! Пусть 8 Марта подарит море улыбок и весеннее настроение! 🌹✨"
                        }
                    ]
                }
            },
            "id": "4",
            "name": "Send Congratulations",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1b2",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        },
                        {
                            "id": "c3d4",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "5",
            "name": "Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                100
            ]
        }
    ],
    "connections": {
        "Get Female Contacts": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split In Batches": {
            "main": [
                [
                    {
                        "node": "Safe Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Safe Wait": {
            "main": [
                [
                    {
                        "node": "Send Congratulations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Congratulations": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Config": {
            "main": [
                [
                    {
                        "node": "Send Congratulations",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}