1 pack marketing AI assist agent sales bots/n8n_templates/WhatsApp_Daily_Summary_Agent.json
{
  "name": "WhatsApp Daily Summary (DB + Image + Reporter)",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. \u0421\u0431\u043e\u0440\u0449\u0438\u043a \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0439 (\u0421\u043b\u0443\u0448\u0430\u0442\u0435\u043b\u044c)\\n\u041b\u043e\u0432\u0438\u0442 \u0432\u0441\u0435 \u0432 WhatsApp. \u0415\u0441\u043b\u0438 \u044d\u0442\u043e \u0430\u0443\u0434\u0438\u043e -> \u043f\u0435\u0440\u0435\u0432\u043e\u0434\u0438\u0442 \u0432 \u0442\u0435\u043a\u0441\u0442 \u0447\u0435\u0440\u0435\u0437 Whisper. \u0417\u0430\u0442\u0435\u043c \u0441\u043e\u0445\u0440\u0430\u043d\u044f\u0435\u0442 \u0442\u0435\u043a\u0441\u0442\u044b \u0432 \u0431\u0430\u0437\u0443 Supabase.",
        "height": 220,
        "width": 640,
        "color": 6
      },
      "id": "s1",
      "name": "Sticky Note 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 2. \u0412\u0435\u0447\u0435\u0440\u043d\u0438\u0439 \u0420\u0435\u043f\u043e\u0440\u0442\u0435\u0440\\n\u0417\u0430\u043f\u0443\u0441\u043a\u0430\u0435\u0442\u0441\u044f \u043a\u0430\u0436\u0434\u044b\u0439 \u0434\u0435\u043d\u044c (\u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440, \u0432 20:00). \u0417\u0430\u0431\u0438\u0440\u0430\u0435\u0442 \u0432\u0441\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f \u0438\u0437 Supabase \u0437\u0430 \u0441\u0435\u0433\u043e\u0434\u043d\u044f, \u0433\u0435\u043d\u0435\u0440\u0438\u0440\u0443\u0435\u0442 \u0421\u0430\u043c\u043c\u0430\u0440\u0438 \u0438 \u0440\u0438\u0441\u0443\u0435\u0442 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0443.",
        "height": 240,
        "width": 1100,
        "color": 5
      },
      "id": "s2",
      "name": "Sticky Note 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        360
      ]
    },
    {
      "parameters": {
        "path": "whatsapp-listener",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "trigger1",
      "name": "Evolution Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        40,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.data.messageType }}",
              "value2": "audioMessage"
            }
          ]
        }
      },
      "id": "switch1",
      "name": "Is Audio or Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        80
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "whatsapp_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Evolution Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Evolution Webhook').item.json.body.data.pushName || $('Evolution Webhook').item.json.body.data.key.participant }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text }}"
            }
          ]
        }
      },
      "id": "db_text",
      "name": "Supabase (Save Text)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        20
      ],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openai-whisper-asr-webservice-production.up.railway.app/asr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "whisper",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        140
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "whatsapp_history",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "chat_id",
              "fieldValue": "={{ $('Evolution Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "={{ $('Evolution Webhook').item.json.body.data.pushName || $('Evolution Webhook').item.json.body.data.key.participant }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "=[\u0413\u043e\u043b\u043e\u0441\u043e\u0432\u043e\u0435 \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435]: {{ $json.text }}"
            }
          ]
        }
      },
      "id": "db_audio",
      "name": "Supabase (Save Audio)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        140
      ],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Every Day 8 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        40,
        440
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "whatsapp_history",
        "limit": 500,
        "filters": {}
      },
      "id": "get_db",
      "name": "Supabase (Get Today)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        240,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "text": "\u0421\u0434\u0435\u043b\u0430\u0439 \u0432\u044b\u0436\u0438\u043c\u043a\u0443 (\u0441\u0430\u043c\u043c\u0430\u0440\u0438) \u0437\u0430 \u0432\u0435\u0441\u044c \u0434\u0435\u043d\u044c \u043f\u043e \u044d\u0442\u0438\u043c \u0441\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u044f\u043c. \u0412\u044b\u0434\u0435\u043b\u0438 \u0433\u043b\u0430\u0432\u043d\u043e\u0435, \u0437\u0430\u0434\u0430\u0447\u0438, \u0438 \u043a\u0442\u043e \u0437\u0430 \u0447\u0442\u043e \u043e\u0442\u0432\u0435\u0447\u0430\u0435\u0442: \\n \\n {{ $json }}",
        "options": {
          "systemMessage": "\u0422\u044b \u043a\u0440\u0443\u0442\u043e\u0439 \u0430\u0441\u0441\u0438\u0441\u0442\u0435\u043d\u0442. \u041f\u0438\u0448\u0438 \u0432 \u043a\u0440\u0430\u0441\u0438\u0432\u043e\u043c WhatsApp \u0444\u043e\u0440\u043c\u0430\u0442\u0435 (\u0441\u043e \u0441\u043c\u0430\u0439\u043b\u0438\u043a\u0430\u043c\u0438 \u0438 *\u0436\u0438\u0440\u043d\u044b\u043c* \u0442\u0435\u043a\u0441\u0442\u043e\u043c)."
        }
      },
      "id": "agent",
      "name": "Gemini Summary Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        460,
        440
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "gemini",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        620
      ]
    },
    {
      "parameters": {
        "text": "\u041f\u0440\u0438\u0434\u0443\u043c\u0430\u0439 \u043a\u043e\u0440\u043e\u0442\u043a\u0438\u0439 prompt \u043d\u0430 \u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u043e\u043c \u0434\u043b\u044f \u043d\u0435\u0439\u0440\u043e\u0441\u0435\u0442\u0438, \u0447\u0442\u043e\u0431\u044b \u043e\u043d\u0430 \u043d\u0430\u0440\u0438\u0441\u043e\u0432\u0430\u043b\u0430 \u043a\u0430\u0440\u0442\u0438\u043d\u043a\u0443, \u043e\u0442\u0440\u0430\u0436\u0430\u044e\u0449\u0443\u044e \u0441\u0443\u0442\u044c \u044d\u0442\u043e\u0433\u043e \u0434\u043d\u044f: \\n {{ $json.output }}",
        "options": {}
      },
      "id": "agent2",
      "name": "Image Prompt Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        660,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_IMAGE_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"model\": \"dall-e-3\",\\n  \"prompt\": \"{{ $json.output }}\",\\n  \"n\": 1,\\n  \"size\": \"1024x1024\"\\n}"
      },
      "id": "image_gen",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://151.241.100.226:8080/message/sendMedia/YOUR_INSTANCE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_EVO_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\\n  \"number\": \"GROUP_JID\",\\n  \"options\": {\\n    \"delay\": 1200,\\n    \"presence\": \"composing\"\\n  },\\n  \"mediaMessage\": {\\n    \"mediatype\": \"image\",\\n    \"caption\": \"{{ $('Gemini Summary Agent').item.json.output }}\",\\n    \"media\": \"{{ $json.data[0].url }}\"\\n  }\\n}"
      },
      "id": "send_wa",
      "name": "Send Summary + Image WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1080,
        440
      ]
    }
  ],
  "connections": {
    "Evolution Webhook": {
      "main": [
        [
          {
            "node": "Is Audio or Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Audio or Text?": {
      "main": [
        [
          {
            "node": "Supabase (Save Text)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Supabase (Save Audio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Day 8 PM": {
      "main": [
        [
          {
            "node": "Supabase (Get Today)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Get Today)": {
      "main": [
        [
          {
            "node": "Gemini Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Summary Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Send Summary + Image WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}