1 pack marketing AI assist agent sales bots/n8n_templates/whatsapp_NEW_chat_extractor.json
{
    "name": "WhatsApp: NEW Chat Extractor & Saver",
    "nodes": [
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "inst",
                            "name": "instance",
                            "value": "8326 301 n8n wa 1",
                            "type": "string"
                        },
                        {
                            "id": "api",
                            "name": "api_key",
                            "value": "b5485840231d596018f5d67b50b4a05ffaaa792cec60595f",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "1",
            "name": "Config",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=http://localhost:8081/chat/findChats/{{ encodeURIComponent($json.instance) }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.api_key }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "2",
            "name": "Fetch API Chats",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                250,
                -100
            ]
        },
        {
            "parameters": {
                "operation": "get",
                "dataTableId": "whatsapp_chats_db",
                "returnAll": true
            },
            "id": "3",
            "name": "Get DB Chats",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                250,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "// Фильтрация: оставляем только те чаты, которых нет в таблице\nconst apiChats = Array.isArray($items(\"Fetch API Chats\")[0].json) ? $items(\"Fetch API Chats\")[0].json : [$items(\"Fetch API Chats\")[0].json];\nconst dbChats = $items(\"Get DB Chats\").map(i => i.json.jid || i.json.chat_id);\n\nreturn apiChats.filter(chat => {\n  const jid = chat.id || chat.remoteJid || chat.jid;\n  return !dbChats.includes(jid);\n}).map(chat => ({\n  jid: chat.id || chat.remoteJid || chat.jid,\n  name: chat.pushName || chat.name || \"Unknown\",\n  type: (chat.id || \"\").endsWith('@g.us') ? 'Group' : 'Private',\n  created_at: new Date().toISOString()\n}));"
            },
            "id": "4",
            "name": "Extract ONLY New",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                0
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "dataTableId": "whatsapp_chats_db",
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": [
                        {
                            "columnName": "jid",
                            "field": "jid"
                        },
                        {
                            "columnName": "name",
                            "field": "name"
                        },
                        {
                            "columnName": "type",
                            "field": "type"
                        }
                    ]
                }
            },
            "id": "5",
            "name": "Save New to DB",
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1,
            "position": [
                750,
                0
            ]
        }
    ],
    "connections": {
        "Config": {
            "main": [
                [
                    {
                        "node": "Fetch API Chats",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get DB Chats",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch API Chats": {
            "main": [
                [
                    {
                        "node": "Extract ONLY New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get DB Chats": {
            "main": [
                [
                    {
                        "node": "Extract ONLY New",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract ONLY New": {
            "main": [
                [
                    {
                        "node": "Save New to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}